<div class="tables-container">
  <h1>Table List</h1>

  <mat-tab-group>
    <mat-tab label="Table 1">
      <mat-card class="table-card">
        <mat-card-header>
          <mat-card-title>Employee Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="table1Data" >
            <ng-container *ngFor="let column of table1Columns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
              <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="table1Columns"></tr>
            <tr mat-row *matRowDef="let row; columns: table1Columns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Table 2">
      <mat-card class="table-card">
        <mat-card-header>
          <mat-card-title>Project Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="table2Data" >
            <ng-container *ngFor="let column of table2Columns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
              <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="table2Columns"></tr>
            <tr mat-row *matRowDef="let row; columns: table2Columns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>